[package]
name = "arcropolis"
version = "3.0.0-beta.2.6"
authors = ["Raytwo <raytwo@arcropolis.com>, jam1garner <jam@jam1.re>, blujay <the.blu.dev@gmail.com>, CoolSonicKirby <alihussain2001@gmail.com>"]
edition = "2018"

[package.metadata.skyline]
titleid = "01006A800016E000"

[lib]
crate-type = ["cdylib"]

[dependencies]
semver = "1"
skyline = { git = "https://github.com/ultimate-research/skyline-rs.git" }
skyline-web = { git = "https://github.com/skyline-rs/skyline-web" }
strip-ansi-escapes = "0.1.1"
zip = { version = "0.5", default-features = false, features = ["deflate"] }
gh-updater = { git = "https://github.com/blu-dev/gh-updater" }
toml = "0.5.8"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0"
thiserror = "1.0.30"
lazy_static = "1.4.0"
log = "0.4.14"
parking_lot = "0.11"
bincode = "1.3.3"
orbits = { git = "https://github.com/blu-dev/orbits" }
smash-arc = { git = "https://github.com/jam1garner/smash-arc", features = ["smash-runtime", "rust-zstd"] }
owo-colors = "3.0.1"
skyline-communicate = { git = "https://github.com/blu-dev/skyline-communicate" }
arcropolis-api = { path = "../arcropolis_api" }
# nn-fuse = { git = "https://github.com/Raytwo/nn-fuse" }
nn-fuse = { path = "../nn-fuse" }
walkdir = "2.3.2"
# ninput = { git = "https://github.com/blu-dev/ninput" }
# ninput = { path = "../ninput" }

[patch.crates-io]
ring = { git = "https://github.com/skyline-rs/ring", branch = "0.16.20" }
webpki = { git = "https://github.com/skyline-rs/webpki" }

[patch.'https://github.com/ultimate-research/nnsdk-rs']
nnsdk = { git = "https://github.com/blu-dev/nnsdk-rs", branch = "patch-4" }

[patch.'https://github.com/jam1garner/smash-arc']
smash-arc = { git = 'https://github.com/blu-dev/smash-arc' }

[patch.'https://github.com/blu-dev/orbits']
orbits = { path = "../orbits" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
