[package]
name = "arcropolis"
version = "3.0.0-beta.1"
authors = ["Raytwo <raytwo@arcropolis.com>, jam1garner <jam@jam1.re>, blujay <the.blu.dev@gmail.com>, CoolSonicKirby <alihussain2001@gmail.com>"]
edition = "2018"

[package.metadata.skyline]
titleid = "01006A800016E000"

[lib]
crate-type = ["cdylib"]

[dependencies]
semver = "1"
skyline = { git = "https://github.com/ultimate-research/skyline-rs.git" }
skyline-web = { git = "https://github.com/skyline-rs/skyline-web" }
zip = { version = "0.5", default-features = false, features = ["deflate"] }
gh-updater = { git = "https://github.com/blu-dev/gh-updater" }
toml = "0.5.8"
serde = "1.0.130"
serde_derive = "1.0.130"
lazy_static = "1.4.0"
log = "0.4.14"
parking_lot = "0.11"
bincode = "1.3.3"
orbits = { git = "https://github.com/blu-dev/orbits" }
smash-arc = { git = "https://github.com/jam1garner/smash-arc", features = ["smash-runtime", "rust-zstd"] }

[patch.crates-io]
ring = { git = "https://github.com/skyline-rs/ring", branch = "0.16.20" }
webpki = { git = "https://github.com/skyline-rs/webpki" }

[patch.'https://github.com/ultimate-research/nnsdk-rs']
nnsdk = { git = "https://github.com/blu-dev/nnsdk-rs", branch = "patch-4" }

[patch.'https://github.com/jam1garner/smash-arc']
smash-arc = { git = 'https://github.com/blu-dev/smash-arc' }

# [patch.'https://github.com/blu-dev/orbits']
# orbits = { path = "../../orbits" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
