[package]
name = "arcropolis"
version = "2.1.0"
authors = ["Raytwo <raytwo@arcropolis.com>, jam1garner <jam@jam1.re>, blujay <the.blu.dev@gmail.com>, CoolSonicKirby <alihussain2001@gmail.com>"]
edition = "2018"

[package.metadata.skyline]
titleid = "01006A800016E000"

[lib]
crate-type = ["cdylib"]

[dependencies]
log = "0.4.11"
toml = { version = "0.5.6", optional = true }
semver = { version = "0.11.0", optional = true }
lazy_static = "1.4"
owo-colors = "1.0.3"
parking_lot = "0.11.0"
thiserror = "1.0.24"
serde = { version = "1", features = ["derive"] }
rand = { git = "https://github.com/skyline-rs/rand" }
smash-arc = { git = "https://github.com/jam1garner/smash-arc", features = ["smash-runtime", "rust-zstd"]}
arc-vector = { git = "https://github.com/blu-dev/arc-vector" }
binread = "2"
percent-encoding = "2.1.0"
walkdir = "2"
arcropolis-api = { git = "https://github.com/blu-dev/arcropolis_api" }
bincode = "1.3.3"
cfg-if = "1.0.0"
skyline = { git = "https://github.com/ultimate-research/skyline-rs.git" }
skyline-web = { git = "https://github.com/skyline-rs/skyline-web", optional = true }
skyline-update = { git = "https://github.com/skyline-rs/skyline-update", optional = true }
skyline-communicate = { git = "https://github.com/blu-dev/skyline-communicate", optional = true }
skyline-config = { git = "https://github.com/skyline-rs/skyline-config" }
[features]
default = ["server", "updater", "web", "config"]
config = ["toml", "semver"]
updater = ["skyline-update"]
web = ["skyline-web", "toml"]
server = ["skyline-communicate"]


[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
