[package]
name = "arcropolis"
version = "3.1.0"
authors = ["Raytwo <raytwo@arcropolis.com>, blujay <the.blu.dev@gmail.com>, jam1garner <jam@jam1.re>, CoolSonicKirby <alihussain2001@gmail.com>"]
edition = "2018"

[package.metadata.skyline]
titleid = "01006A800016E000"

[lib]
crate-type = ["cdylib"]

[dependencies]
semver = "1"
num-derive = "0.3.3"
num-traits = "0.2"
walkdir = "2.3.2"
parking_lot = "0.11"
thiserror = "1.0.30"
lazy_static = "1.4.0"
# Switch utilities
skyline = { git = "https://github.com/ultimate-research/skyline-rs.git" }
skyline-web = { git = "https://github.com/skyline-rs/skyline-web" }
skyline-config = { git = "https://github.com/skyline-rs/skyline-config" }
skyline-communicate = { git = "https://github.com/blu-dev/skyline-communicate" }
# For the updater
zip = { version = "0.5", default-features = false, features = ["deflate"], optional = true }
gh-updater = { git = "https://github.com/blu-dev/gh-updater", optional = true }
# For offset caching and legacy configuration
toml = "0.5.8"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0"
# For the logger
log = "0.4.14"
owo-colors = "3.0.1"
strip-ansi-escapes = "0.1.1"
bincode = "1.3.3"
# To manage mods
orbits = { git = "https://github.com/blu-dev/orbits" }
smash-arc = { git = "https://github.com/jam1garner/smash-arc", features = ["smash-runtime", "rust-zstd"] }
arcropolis-api = { git = "https://github.com/Raytwo/arcropolis_api" }
# For arc:/ and mods:/
nn-fuse = { git = "https://github.com/blu-dev/nn-fuse" }
prcx = { git = "https://github.com/blu-dev/prcx", branch = "xml-style" }
# For xmsbt
serde-xml-rs = "0.3.1"
msbt = { git = "https://github.com/RoccoDev/msbt-rs", branch = "feature/builder-from-impl" }
# For inputs
# ninput = { git = "https://github.com/blu-dev/ninput" }
# ninput = { path = "../ninput" }

[patch.crates-io]
ring = { git = "https://github.com/skyline-rs/ring", branch = "0.16.20" }
webpki = { git = "https://github.com/skyline-rs/webpki" }

# [patch.'https://github.com/blu-dev/orbits']
# orbits = { path = "../orbits" }

[features]
default = ["updater"]
updater = ["zip", "gh-updater"]

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
