[package]
name = "arcropolis"
version = "0.9.1-beta4"
authors = ["Raytwo <raytwost@gmail.com>, jam1garner <jam1.mcleod@hotmail.com>"]
edition = "2018"

[package.metadata.skyline]
titleid = "01006A800016E000"

[lib]
crate-type = ["cdylib"]

[dependencies]
toml = "0.5.6"
#rayon = "1.4.0"
semver = "0.11.0"
lazy_static = "1.4"
owo-colors = "1.0.3"
parking_lot = "0.11.0"
serde = { version = "1", features = ["derive"] }
rand = { git = "https://github.com/skyline-rs/rand" }
skyline = { git = "https://github.com/ultimate-research/skyline-rs.git" }
skyline_smash = { git = "https://github.com/ultimate-research/skyline-smash.git" }
skyline-update = { path = "../skyline-update/skyline-update" }

[patch.crates-io]
getrandom = { git = "https://github.com/skyline-rs/getrandom" }
#num_cpus = { git = "https://github.com/skyline-rs/num_cpus" }

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
lto = true
