* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: #2C2C2C;
}

body {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
}

.current_dir {
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
    position: fixed;
    width: 95%;
    padding-left: 5px;
    z-index: 999;
}

.seperator {
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: #2C2C2C;
    top: 65px;
    z-index: 999;
}

.seperator>div {
    position: fixed;
    background-color: #2C2C2C;
    width: 95%;
    top: 75px;
    border: 1px solid #959595;
    line-height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}

.flex-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 95px;
    background-color: #2C2C2C;
    overflow-y: scroll;
}

.flex-item {
    display: flex;
    margin-bottom: 1%;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}

.flex-item:focus {
    outline: auto #2c95c4;
}

.flex-item:hover {
    outline: auto #2c95c4;
}

.flex-item>img {
    z-index: 0;
    width: 32px;
    margin-right: 5px;
    filter: invert();
}

.flex-item>h2 {
    margin: 0;
    line-height: 1.6;
}

.hidden{
    display: none !important;
}

.top_btn {
    display: inline-block;
    margin-top: 1%;
    height: 40px;
    text-align: center;
    background-color: transparent;
    border-color: transparent;
}

#send:focus {
    outline: auto #2c95c4;
}

#send:hover {
    outline: auto #2c95c4;
}

/* table{
    width: 100%;
} */

td{
    width: 50%;
}