#bg {
    background-image: var(--var-bg-detail-palette);
}

#ret-button {
    background-color: #00829A;
}

.Fighter>.abstract-icon-back-decoration,
.Fighter>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #FE3636 !important;
}

.Fighter.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(255,10,10) !important;
}
/* .Fighter.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(140,9,0) !important;
} */

.Stage>.abstract-icon-back-decoration,
.Stage>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #28B448 !important;
}

.Stage.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(0,136,5) !important;
}
/* .Stage.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(3,54,6) !important;
} */

.Item>.abstract-icon-back-decoration,
.Item>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #FFC124 !important;
}
.Item.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(255, 129, 1) !important;
}
/* .Item.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(105,45,0) !important;
} */

.UI>.abstract-icon-back-decoration,
.UI>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #0069F2 !important;
}

.UI.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(6,65,255) !important;}
/* .UI.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(28,41,175) !important;
} */

.Parameter>.abstract-icon-back-decoration,
.Parameter>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #1ACEE8 !important;
}

.Parameter.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(5,166,211) !important;
}
/* .Parameter.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(3,95,123) !important;
} */

.Sound>.abstract-icon-back-decoration,
.Sound>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #F98636 !important;
}

.Sound.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(242,62,8) !important;
}
/* .Sound.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(159,37,3) !important;
} */



.Plugin>.abstract-icon-back-decoration,
.Plugin>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #FF9BB4 !important;
}
.Plugin.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(255,85,119) !important;
}
/* .Plugin.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(39,22,123) !important;
} */


.Miscellaneous>.abstract-icon-back-decoration,
.Miscellaneous>div.abstract-button-border>div>div.abstract-icon-wrapper {
    background: #713FD6 !important;
}
.Miscellaneous.abstract-button.is-focused> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(78,42,255) !important;
}
/* .Miscellaneous.abstract-button> div.abstract-button-border > div.abstract-button-inner {
    background: rgb(39,22,123) !important;
} */

table.main {
    width: 1278px;
    text-align: center;
    padding-top: 76px;
    position: fixed;
}

table.main tbody {
    width: 100%;
}

table.main td:first-child {
    width: 48%;
    position: relative;
}

table.main td {
    width: 100%;
    vertical-align: top;
}

.ret-icon path {
    fill: #4CC0F1;
}

.ret-icon-shadow path {
    fill: #003145;
}

#category_mover {
    display: inline-block;
    width: 502px;
    border: 2px solid #151515;
    max-height: 37px;
    height: 37px;
    border-radius: 10px;
    margin-right: 29px;
    background: #151515;
    color: white;
    box-shadow: 3px 4px rgba(136, 136, 136, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 550;
    margin-bottom: 10px;
    margin-top: 4px;
}

#category_mover span {
    padding-top: 4px;
    display: inline-block;
}

#category_mover span:first-child {
    float: left;
    padding-left: 20px;
}

#category_mover span:last-child {
    float: right;
    padding-right: 20px;
}

.abstract-button-text {
    text-align: left;
}

.marquee {
    overflow: hidden !important;
    width: 403px !important;
    height: 55px !important;
    display: block !important;
}

.l-sidebar {
    position: initial;
    background: transparent;
    overflow: scroll;
    border-right: none;
    box-shadow: none;
    width: 100%;
    min-height: 570px;
    scroll-behavior: smooth;
}

.l-sidebar-content {
    padding-top: 4px;
    background-color: transparent;
    scroll-behavior: smooth;
}

.l-main-content {
    padding: 0;
}

.l-screen-shot-wrapper {
    margin-bottom: 0;
}

.l-info {
    display: flex;
    justify-content: flex-end;
    padding-left: 96px;
    padding-right: 96px;
}

.l-info .sentence {
    font-size: 15px;
}

.l-description {
    justify-content: flex-start;
    width: 100%;
    height: 220px;
    max-height: 220px;
    overflow-y: overlay;
    scroll-behavior: smooth;
}

.l-description .sentence {
    font-size: 20px;
    padding-right: 20px;
    white-space: initial;
}

.l-description .f-b-bold {
    width: 100%;
}

.l-description .sentence {
    text-align: left;
}

.abstract-button.is-focused .abstract-button-border {
    border-color: transparent;
    z-index: 0;
}

.abstract-button {
    z-index: 0;
}

.abstract-button.is-focused .abstract-button-inner {
    background: white;
}

.abstract-button-border {
    border: 3px solid black;
}

.l-main {
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
    width: 650px;
    height: initial;
    margin-top: 20px;
}

.abstract-button,
.abstract-button:first-child {
    margin-bottom: 10px;
    height: 65px;
    width: 508px;
}

.abstract-icon-back-decoration {
    height: 65px;
}

.abstract-icon {
    opacity: 0.7;
}

.l-header {
    box-shadow: none;
    position: fixed;
    z-index: 1;
}

.abstract-button.is-focused .abstract-button-text span:nth-child(1) {
    position: relative;
    margin-left: 0;
    margin-top: 0;
    color: white;
    z-index: -1;
    -webkit-text-stroke: 2.5px #000000;
}

.abstract-button-text {
    margin-left: 3px;
}

.hidden {
    opacity: 0;
}

.header-decoration {
    background-color: #00829A;
}

.scrollbar {
    position: absolute;
    margin-left: 17px;
    overflow-y: overlay;
    max-height: 565px;
    width: 90%;
}

.scrollbar::-webkit-scrollbar {
    background: none;
}

.scrollbar::-webkit-scrollbar-track {
    margin-top: 0px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: #B5B5B5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 3px solid;
    border-color: #B5B5B5;
    background-color: #e3e3e3;
}

.desc-full-height {
    height: 100% !important;
    max-height: 100% !important;
}

#r-stick-desc-icon {
    visibility: hidden;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    font-size: 26px;
}

.show {
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
}

.screen-shot {
    width: 463px;
    height: 248px;
    border: 5px solid #000000;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#submenu {
    display: none;
    width: var(--var-body-width);
    height: var(--var-body-height);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    transition: 0.2s;
    align-items: center;
    align-content: center;
    font-family: "FontUB", "KeyHelpFont";
}

#inner-submenu {
    background-color: white;
    display: block;
    width: 95%;
    height: 95%;
    margin: 0 auto;
    border: 3px solid black;
}

#filters {
    display: inline-flex;
    flex-wrap: wrap;
}

#filters>div {
    margin: 10px;
}

.submenu-btn {
    border: 2px solid black;
    padding: 10px 30px;
    font-size: 1.7rem;
    background-color: #d9e4ea;
}

.submenu-btn:hover,
.submenu-btn:focus {
    background-color: white;
}

#sortOptions {
    width: 30%;
    height: 40px;
    font-size: 20px;
}