@-moz-document url-prefix() {
    @font-face {
        font-family: '-webkit-standard';
        src: url('nintendo_udsg-r_std_003.ttf');
    }
}

/* Top Bar styles */
.TopBar{
    height: 100px;
    width: 1280px;
    background-color: #000000;
}
/* Top Bar Button */
.TopBarReturnButton{
    float: left;
    height: 100px;
    width: 150px;
    background-color: #A80114;
    color: white;
    font-size: 50px;
}
.TopBarReturnImage{
    float: left;
    height: 100px;
    width: 150px;
}
/* Top Bar Text */
.TopBarText{
    height: 100px;
    width: auto;
    color: #F46264;
    text-align: center;
    font-size: 40px;
}
.CenterText{
    margin: 0px;
    line-height: 100px;
    display: inline-block;
    
}

/* Workspace Selection List*/
.WorkspaceList{
    height: 620px;
    width: 1280px;
    background-color: #F2F2F2;
}

/* Workspace List Item */
.WorkspaceListItem{
    margin-top: 50px;
    margin-right : 50px;
    margin-left: 50px;
    height: 85px;
    background-color: red;
}

.Border{
    padding: 5px;
    background-color: #2E3C45;
}

.ItemFocused{
    padding: 5px;
    background-color: pink;
}

.ItemContainer{
    padding: 10px, 5px, 5px, 5px;
    margin-right: 20px;
    height: 100px;
    background-color: #D9E4EA;
    z-index: 1;
    -webkit-box-shadow: 5px 5px 5px -1px #000000; 
    box-shadow: 5px 5px 5px -1px #000000;
}

/* Workspace List Item Icon */
.IconContainer{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #2E3C45;
}

.IconChecked{
    width: 100px;
    height: 100px;
}
.Icon{
    visibility: hidden;
}

/* Workspace List Item Text */
.WorkspaceText{
    float: left;
    padding-left: 20px;
    text-align: left;
    color: #26343B;
    font-size: 30px;
}